* {
    box-sizing: border-box;
}


body {
    scrollbar-width: none;
    background-color: #a19e9e50;
    height: 100%;
}
/* Paleta de colores #DB6B97 (rosa) #F2FFE9 (verde claro) #A6CF98 (verde medio) #557C55 (verde fuerte) */


.header-container {
    top: 0%;
    width: 100%;
    height: auto;
    position: sticky;
    /* background: linear-gradient (45deg, #a19e9e 50%, black 50%); */
    background-image: linear-gradient( #99007550 25%, transparent 100%);
    /* padding: 2vmin; */
    z-index: 50;
}


.box-menu { 
    display: flex;
    height: 72px;
    list-style-type: none;
}

.button-emocionario {
    display: flex;
    position: absolute;
    margin-top: 20px;
    margin-left: 2vw;
    width: min-content;
    height: min-content;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.1em;
    font-weight: bold;
    text-decoration: none;
    color: #990075;
    text-shadow: -2.5px 2.5px #99007515;
}

.button-emocionario:hover {
    transform: scale(1.05);
    text-shadow: -2.5px 2.5px #99007515;
}

.bottoms-hdc {
    display: inline-flex;
    position: relative;
    margin-left: auto;
    top: 16px;
    right: 15px;
}

.box-home,
.box-diario,
.box-contact{
    width: min-content;
    padding-right: 20px;
}



.box-home:hover,
.box-diario:hover,
.box-contact:hover{
    transform:scale(1.14);
    /* cursor:pointer; */
}

._L73R {
    display: flex;
    flex-direction: row-reverse;
}

._boxRT {
    display: block;
    width: 29%;
    max-width: 27%;
    min-width: 27%;
    height: max-content;
}

._boxRT2 {
    height: max-content;
    margin: 0px 5px;
    background-image: linear-gradient(0deg, transparent 5%, #99007510 50%, transparent 95%);
}

.form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
}

.form_field {
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    
}

.form_label {
    text-transform: uppercase;
    font-family: 'Merriweather Sans', 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
}

.form_textarea {
    width: 90%;
    background: none;
    font-family: 'Josefin Sans','Merriweather Sans', sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #000090;
    resize: none;
    border: 1px solid #000090;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
}

._boxSubmits {
    display: block;
}

._boxSubAG {
    display: flex;
    margin-bottom: auto;
}

._boxSubDI {
    display: flex;
    
}

.form_submit {
    display: flex;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
}
















._boxLFT {
    margin: 10px 7px;
    background-image: linear-gradient(0deg, transparent 5%, #99007510 50%, transparent 95%);
    width: 100%;
    border-radius: 8px;
}

._boxList {
    display: block;
}

._boxFlexLFT {
    display: flex;
    flex-wrap: wrap;
    
    /* flex: 1 1 auto; */
}

._boxProp {
    height: 100%;
}

.box-proposal {
    margin: 10px 30px;
}

.title-name { 
    margin: 25px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    text-align: center;
    color: #00009098;
}

.title-2,
.title-proposal {
    margin: 25px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    color: #0000aa;
}

.text-proposal {
    margin: 20px 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 34px;
    text-align: center;
    z-index: 40;
}


.icon-play:hover {
    transform: scale(1.10);
}

._iconPlay {
    padding: 60px 30px 0px 20px;
    max-width: 100%;
    min-width: 100%;
}

.box-icon-play {
    display: flex;
}

.icon-play {
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 80px;
    /* margin: 20px 0px 40px 0px; */
}

._boxFore {
    height: 100%;
}

.box-foreword {
    display: block;
    width: 100%;
    height: max-content;
    top: 0%;
    padding: 80px 15px;
}

.title-foreword {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    color: #0000aa;
}

.writer-name {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

.text-foreword {
    display: block;
    margin: 0px 20px;
    line-height: normal;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}


._boxList {
    background-color: #a19e9e08;
    height: 100%;
}

/* .box-list {
    height: 100vh;
    /* background-color: #DB6B9710;
}  */

.out-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0%;
}


.title-1 {
    display: block;
    height: min-content;
    font-family: 'Montserrat';
    padding-bottom: 0%;
}


.autors-icons{
    font-size: small; 
    width: min-content;
    font-family: 'Josefin Sans';
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}


[class^='_boxIcons']{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 199px;
}

[class$="icon"]{
    width: min-content;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
}

._boxIconLe {
    margin-left: auto;
}

._boxIconCen {
    margin-right: auto;
    margin-left: auto;
    
}

._boxIconRi {
    margin-right: auto;

}

.ternura-icon {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}

.amor-icon {
    flex-wrap: wrap;    
    flex-direction: row;
    padding: 10px;
}

.odio-icon {
    flex-wrap: wrap;    
    flex-direction: row;
    padding: 10px;  
}

.ira-icon {
    top: 350px;
    left:32vw;
}

.irritacion-icon {
    top: 350px;
    left:42vw;
}

.tension-icon {
    top: 350px;
    left:53vw;

}
.alivio-icon {
    top: 350px;
    left:63vw;

}
.serenidad-icon {
    top: 350px;
    left:71vw;

}
.felicidad-icon {
    top: 350px;
    left:80vw;

}
.alegria-icon {
    top: 350px;
    left:88vw;

}
.tristeza-icon {
    top: 350px;
    left:78vw;

}
.compasion-icon {
    top: 350px;
    left:68vw;

}
.remordimiento-icon {
    top: 350px;
    left:55vw;

}
.culpa-icon {
    top: 350px;
    left:47vw;

}
.verguenza-icon {
    top: 350px;
    left: 36vw;

}
.inseguridad-icon {
    top: 350px;
    left:25vw;

}
.timidez-icon {
    top: 350px;
    left:15vw;

}
.confusion-icon {
    top: 350px;
    left:5vw;

}
.miedo-icon {
    top: 350px;
    left:1vw;

}
.asombro-icon {
    top: 350px;
    left:8vw;

}
.asco-icon {
    top: 350px;
    left:20vw;

}
.hostilidad-icon {
    top: 350px;
    left:31vw;

}
.aceptacion-icon {
    top: 350px;
    left:41vw;

}
.incomprension-icon {
    top: 350px;
    left:52vw;

}
.desamparo-icon {
    top: 350px;
    left:66vw;

}
.soledad-icon {
    top: 350px;
    left:78vw;

}
.nostalgia-icon {
    top: 350px;
    left:86vw;

}
.melancolia-icon {
    top: 350px;
    left:79vw;

}
.aburrimiento-icon {
    top: 350px;
    left:66vw;

}
.ilusion-icon {
    top: 350px;
    left:59vw;

}
.entusiasmo-icon {
    top: 350px;
    left:47vw;

}
.euforia-icon {
    top: 350px;
    left:39.5vw;

}
.desaliento-icon {
    top: 350px;
    left:30vw;

}
.decepcion-icon {
    top: 350px;
    left:19vw;

}
.frustracion-icon {
    top: 350px;
    left:8vw;

}
.admiracion-icon {
    top: 350px;
    left:.1vw;

}
.envidia-icon {
    top: 350px;
    left:28vw;

}
.deseo-icon {
    top: 350px;
    left:44vw;

}
.satisfaccion-icon {
    top: 350px;
    left:56vw;

}
.orgullo-icon {
    top: 350px;
    left:68vw;

}
.placer-icon {
    top: 350px;
    left:76vw;

}
.gratitud-icon {
    top: 350px;
    left:87vw;

}


.box-articles {
    width: 100%;
    max-height: max-content;
}

.wordskey:hover {
    transform: scale(1.1);
}

.wordskey{
    display: block;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    color: #463a3a50;
}

[class^="art-"] { 
    background-color: #a19e9e50;
    width: 100%;
    max-height: fit-content;
    text-align: center;


}

.title-art1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0%;
    width: 100%;
    font-size: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #0000cc;

}

.text-art1 {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    /* text-align: center; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 27px;
}

.title-art2 {
    margin-top: 60px;
    font-size: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    color: #0000cc;
}

.text-art2 {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 4%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 27px;
}